section {
    min-height: 350px;
    padding-top: 60px;
}

.section-splash {
    background-image: url('/img/splash.jpg');
    background-size: cover;
    min-height: 450px;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

 .root-menu-item {
     text-align: center;
 }

.chart-icon {
    width: 180px;

}

.alternate-section {
    background-color: #eee;
}

.footer-dark {
    background-color: #000;
    height: 100px;
    padding: 20px;
}

.social {
    height: 40px;
    font-size: 30pt;
}

.social :hover {
    color: #ffff00;
}
